
body {
    /* background-color: antiquewhite; */
    height: 100vh;
}

#login-footer {
    font-size: 10px;
}

.flex, #theme-image{
    display: flex; 
    align-items: center;
    align-content: center;
    justify-content: center;
}

.theme-image-section {
    background-color: black;
    display: flex; 
    justify-content: center;
    width: 100vh;
}
.flex-container, .relax{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
}

.heading-tabs {
    font-size: 20px;
    background-color: rgb(225, 192, 255);
    /* margin: 0; 
    padding: 0; */
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    /* height: 50px; */
    width: 100%;
    background-color: rgb(169, 210, 245);
    text-align: justify;
    font-size: 20px;
}

#btn-relax {
    border-radius: 10%;
    align-items: flex-end;
}

#btn-relax:hover {
    cursor: pointer;
}

.login-page {
    background-size: cover;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
   
}

.vendor-list-fieldset {
    width: max-content;
    text-align: center;
    display: flex;
    flex-direction: column; /* Stack flex items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
}